*.env

node_modules

.DS_Store

javascript/control_panel/public/emotes/*

__pycache__
python/heavenfire_venv
python/.venv
python/output_audio_files/
python/prompts.py
python/screenshot.png
python/datasets/*
python/songs/*
python/instance/*
