.animations {
  font-family: 'BubblegumSans-Regular';
  position: relative;
  background: #00b140;
  height: 100vh;
  overflow: hidden;

  .emotes_container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .emote {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .animation_wheel_container {
    transform: scale(0.5);
    position: absolute;
    bottom: -100px; // why does this have to be -100? i have no idea what's happening here
    left: -100px;
  }

  .event_container {
    position: absolute;
    z-index: 1;
    padding-top: 80px;
    width: 100%;
  }

  .subtitle_text {
    margin: 7px 0;
    font-size: 40px;
  }

  .event_text_top {
    display: flex;
    justify-content: center;
    animation: slideLeftToRight 10s linear;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    // .ratjam-gif {
    //   background: url('../public/ratjam.GIF') no-repeat center center / contain;
    //   width: 24px;
    //   height: 24px;
    //   animation: fadeInOut 7s linear;
    //   animation-fill-mode: forwards;
    //   animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    // }
  }

  .event_text_bottom {
    animation: slideRightToLeft 10s linear;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }


  .sub {
    display: flex;
    flex-direction: column;
    align-items: center;

    .lunaspin-gif {
      background: url('../public/lunaspin.gif') no-repeat center center / contain;
      margin-top: 25px;
      width: 200px;
      height: 200px;
    }

    .ratsenteringhole-gif {
      margin-top: -15px;
      background: url('../public/ratsenteringhole.gif') no-repeat center center / contain;
      width: 300px;
      height: 300px;
    }
  }

  .bits {
    display: flex;
    flex-direction: column;
    align-items: center;

    .event_text_bottom {
      display: flex;
      justify-content: center;
    }

    .bits-png {
      margin: 0 1px 0 7px;
      background: url('../public/bits.png') no-repeat center center / contain;
      width: 48px;
      height: 48px;
    }

    .rathole-gif {
      margin-top: -60px;
      background: url('../public/rathole.gif') no-repeat center center / contain;
      width: 400px;
      height: 400px;
    }
  }

  .ban {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ejection-gif {
      margin-top: -75px;
      background: url('../public/ejection.gif') no-repeat center center / contain;
      width: 450px;
      height: 450px;
    }
  }
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  15% {
    transform: translateX(0);
    opacity: 1;
  }
  85% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  15% {
    transform: translateX(0);
    opacity: 1;
  }
  85% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes moveX {
  from { left: 0%; } to { left: 96%; }
}

@keyframes moveY {
  from { top: 0%; } to { top: 96%; }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
