.animations {
  font-family: 'BubblegumSans-Regular';
  position: relative;

  .stream_background_sample {
    position: absolute;
    background-size: cover;
  }

  .event_container {
    position: absolute;
    z-index: 1;
    padding: 100px 0;
    width: 100%;

    .neon_text {
      font-size: 24px;
      margin: 12px 0;
      width: 100%;
      text-align: center;
    }
  }

  .sub {
    .event_text_top {
      display: flex;
      justify-content: center;
      font-weight: bold;
      animation: slideLeftToRight 7s linear;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

      .ratjam-gif {
        background: url('../public/ratjam.GIF') no-repeat center center / contain;
        width: 24px;
        height: 24px;
        animation: flashIn 7s linear;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
      }
    }

    .event_text_middle {
      animation: flashIn 7s linear;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .event_text_bottom {
      animation: slideRightToLeft 7s linear;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }

  .bits {
    display: flex;
    flex-direction: column;
    align-items: center;

    .event_text_top {
      font-weight: bold;
      animation: flashIn 10s linear;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .rathole-gif {
      margin-top: -50px;
      opacity: 0;
      background: url('../public/rathole.gif') no-repeat center center / contain;
      width: 250px;
      height: 250px;
      animation: flashIn 9s linear 1s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }

  .ban {
    display: flex;
    flex-direction: column;
    align-items: center;

    .event_text_top {
      font-weight: bold;
      animation: flashIn 10s linear;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .ejection-gif {
      margin-top: -50px;
      opacity: 0;
      background: url('../public/ejection.gif') no-repeat center center / contain;
      width: 250px;
      height: 250px;
      animation: flashIn 9s linear 1s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes flashIn {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
