@font-face {
  font-family: 'BubblegumSans-Regular';
  src: URL('../public/BubblegumSans-Regular.ttf') format('truetype');
}

.subtitles {
  font-family: 'BubblegumSans-Regular';
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 48px;
  font-weight: bold;
  background: #00b140;
  box-sizing: border-box;
  color: hotpink;
  text-shadow: 2px 2px 16px black;
  text-align: center;
  // line-height: 1.2;
  padding: 10px;
  -webkit-text-stroke: 1px black;
  // -webkit-text-fill-color: white;
  line-height: 56px;
}
