@font-face {
  font-family: 'BubblegumSans-Regular';
  src: URL('../public/BubblegumSans-Regular.ttf') format('truetype');
}

.subtitles {
  width: 50%;
  display: flex;
  align-items: flex-end;
  background: #00b140;
  box-sizing: border-box;
  padding: 10px;
}

.subtitle_text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  font-family: 'BubblegumSans-Regular';
  font-weight: bold;
  color: hotpink;
  text-shadow: 2px 2px 4px black;
  -webkit-text-stroke: 1px black;
  font-size: 72px;
  line-height: 88px;

  .subtitle_text_inline_emote_container {
    height: 88px; /* the container height is .subtitle_text line-height. */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 72px; /* the image max-height is the .subtitle_text font size. */
    }
  }
}
